
/* Responsive styles */

/* Mobile devise */

@media screen and (max-width: 576px){
    header, main {
        padding: 20px;
    
    }
    .facts-card-container, .sponsor,
     .sponsor-container,
    nav, .teams-container, .teams-content {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        text-align: center;
    }
    .facts-heading{
        text-align: center;
    }
    .facts-card-container .card{
        width: 90%;

    }
    .sponsor-description{
        max-width: 100%;

    }
    .sponsor-container img{
        width:100%;
        margin: 10px auto;
    }

  }
  
  /* tab or similler device */
  
  @media screen and (min-width: 576px) and (max-width: 992px) {
  
    header{
        padding: 50px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
    .facts-heading,
    .teams-content {
        text-align: center;
    }
        
    
  }
  
  
  