
/* Responsive styles */

/* Mobile devise */

@media screen and (max-width: 576px){
    header, main {
        padding: 20px;
    
    }
    .facts-card-container, .features,  .sponsor,
     .sponsor-container,
    nav, .teams-container, .teams-content {
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        text-align: center;
    }
    .facts-heading{
        text-align: center;
    }
    .facts-card-container .card
    {
        width: 90%;
        margin-top: 10px;

    }
    
    .sponsor-description{
        max-width: 100%;

    }
   
    .features-img img{
        max-width: 100%;
        margin-left: 0;

    }
    .features-content .card{
        width: 90%;
        margin: auto;
    }
    .sponsor-container img
    {
        width:100%;
        margin: auto;
    }

  }
  
  /* tab or similler device */
  
  @media screen and (min-width: 576px) and (max-width: 992px) {
  
    header{
        padding: 50px;
    }
    nav, .teams-container,
    .features{
        flex-direction: column;
    }
    .facts-heading,
    .teams-content {
        text-align: center;
    }
    .features-content .card,
    .features-img {
        max-width: 90%;
        margin: auto;

    }
        
    
  }
  
  
  